.grid {
    display: grid;
    /* grid-template-columns: repeat(3, auto); */
    grid-template-columns: 1fr 2fr 3fr;
    gap: 1rem;
}

.item {
    padding: 3rem;
    border: 1px solid #aaa;
    background: #f4f4f4;
    font-size: 1.3rem;
    text-align: center;
}
