:root {
    --primary-color: steelblue;
    --secondary-color: skyblue;
    --light-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: var(--light-color);
}

header {
    background-color: var(--primary-color);
}

.container {
    background-color: var(--secondary-color);
    padding: 20px 40px;
}

.box {
    margin: 20px;
    padding: 10px 40px;
    border-radius: 100px;

    box-shadow: 3px 10px 30px rgba(43, 92, 226, 0.2);
}
