li {
    padding: 0.25rem;
    margin: 0.25rem;
    list-style: none;
}

/* First child  */
li:first-child {
    background: red;
}

/* last child */
li:last-child {
    background: purple;
}

/* specific child - not zero indexed */
li:nth-child(3) {
    background: goldenrod;
}

/* pattern based, every x */
li:nth-child(2n + 0) {
    background: lightseagreen;
}

/* pattern after an ofset  */
li:nth-child(3n + 8) {
    background: lightgreen;
}

/* every odd  */
li:nth-child(odd) {
    background-color: blueviolet;
    color: #fff;
}
